<div class="banner" style="background-image: url('/assets/banner_img_all_equipments.jpg')">
  <div class="container">
    <h1><strong>Sport At Home</strong></h1>
    <p>All equipments available on Sport At Home</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="h1-all-equipments">List of equipments found</div>
    <div class="col-sm-4">
      <% @equipments.each do |equipment| %>
      <div class="card-trip">
        <h2><%= equipment.title %></h2>
        
        <%= link_to 'Show', equipment_path(equipment) %>
        <%= link_to 'Rent',  new_equipment_rent_path(@rent, equipment_id: equipment.id) %>
        <%= link_to equipment_path(equipment) do %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
