<div class="container">
  <div class="row pb-5 mb-4">

    <% equipments.each do |equipment| %>
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-1 mt-3">
            <div class="card-body p-4"><img src="<% if equipment.image.key? %><%= cl_image_path equipment.image.key, height: 200, crop: :pad
              %><% else %>https://res.cloudinary.com/df8y5fexl/image/upload/v1620479501/placeholder_rvxg16.jpg<% 
              end %>" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5>Daily rate: <%= equipment.daily_rate %>€</h5>
                <%= equipment.title %><br><%= link_to 'More details', equipment_path(equipment),  :class => "btn btn-info" %> <% if (current_user != nil && current_user.user_type === "User")
                   %>- <%= link_to 'Rent',  new_equipment_rent_path(@rent, equipment_id: equipment.id)
                   %><% end %>
                 <h5><% if mine %>
                  <%= link_to "Remove equipment",
                    user_equipment_path(user_id: current_user.id, id: equipment.id), :class => "btn btn-warning",
                    method: :delete,
                    data: { confirm: "Are you sure to remove this equipment?" } %>
                 <% else 
                 end %></h5>
            </div>
        </div>
    </div>
    <% end %>
    <% # raise %>
  </div>
</div>