<div class="banner-myrents" style="background-image: url('https://res.cloudinary.com/df8y5fexl/image/upload/v1620477466/banner_my_rents_whtiuk.jpg')">
  <div class="container">
    <h1><strong>My rents</strong></h1>
    <p>Find all your rents</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @rents.each do |rent| %>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="card rounded shadow-sm border-1 mt-3 mb-3">
          <div class="card-body p-4">
            <img src="<% if rent.equipment.image.key? %><%= cl_image_path rent.equipment.image.key, height: 200, crop: :pad
              %><% else %>https://resources.sport-tiedje.com/bilder/firstdegreefitness/neu2/Viking%20PRO%20V/Viking_Pro_V_02_600.jpg<% 
              end %>" alt="" class="img-fluid d-block mx-auto">
            <p class="my-rents-title"><%= rent.equipment.title %></p>
            <b>Start date:</b> <%= rent.start_date %><br>
            <b>End date:</b> <%= rent.end_date %><br>
            <div class="btn btn-info" style='margin: 10px 0px 10px 0px;'>
              <%= link_to 'Show', user_rent_path(user_id: current_user.id, id:rent.id) %></>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div

<% # raise %>