<div class="banner-myrents" style="background-image: url('https://source.unsplash.com/1920x100/?sport')">
  <div class="container">
    <h1><strong>My rents</strong></h1>
    <p>Find all the </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @rents.each do |rent| %>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="card rounded shadow-sm border-1 mt-3 mb-3">
          <div class="card-body p-4">
            <% if rent.equipment.image.persisted? %>
              <% url = rent.equipment.image %>
            <% else %>
              <% url ='https://source.unsplash.com/200x135/?sport' %>
            <% end %>
            <%= image_tag(url, width: '100%') %>
            <p class="my-rents-title"><%= rent.equipment.title %></p>
            <b>Start date:</b> <%= rent.start_date %><br>
            <b>End date:</b> <%= rent.end_date %><br>
            <div class="btn btn-info" style='margin: 10px 0px 10px 0px;'>
              <%= link_to 'Show', user_rent_path(user_id: current_user.id, id:rent.id) %></>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% # raise %>