<h1>New rents to add to an @equipment.title</h1>

<%= simple_form_for ([@equipment, @rent]) do |f| %>
  <%= f.label :start_date %>
  <%= f.input :start_date, :as :datepicker %>
  <%= f.label :end_date %>
  <%= f.input :end_date, :as :datepicker %>
  <%= f.submit %>
<% end %>