<div class="container" style="width: 80%;">
  <div class="row rounded shadow-sm border-2 mt-3 p-3">
    <div class="col-md-6 mb-4 mb-lg-0">
      <h3>Your Rent #<%= @rent.id %> details for <%= @equipment.first.title %></h3>
      <p><b>From:</b> <%= @rent.start_date %> </p>
      <p><b>To:</b> <%= @rent.end_date %> </p>
      <p><b>Equipment name:</b> <%= @equipment.first.title %></p>
      <p><b>Equipment description:</b> <%= "#{@equipment.first.description}" %></p>
      <p><b>Daily rate:</b> <%= @equipment.first.daily_rate %>€</p>
      <div class="btn btn-info" style="margin: 20px;">
      <%= link_to 'Back', user_rents_path(user_id:current_user) %>
      </div>
      <div class="btn btn-danger" style="margin: 20px;">
      <%= link_to "Cancel rent ##{@rent.id}",
            user_rent_path(user_id:current_user),
            method: :delete,
            data: { confirm: "Are you sure to cancel this rent?" } %>
      </div>
    </div>
    <div class="col-md-6 mb-4 mb-lg-0">
      <img src="<% if @equipment.first.image.key? %><%= cl_image_path @equipment.first.image.key, height: 200, crop: :pad
      %><% else 
      %>https://res.cloudinary.com/df8y5fexl/image/upload/v1620479501/placeholder_rvxg16.jpg<% 
      end %>" style="height: 200px;" alt="" class="img-fluid d-block mx-auto mb-3">
    </div>

    
  </div>
</div>

