<div class="container" style="width: 80%;">
  <div class="row rounded shadow-sm border-2 mt-3 p-3">
    <div class="col-md-6 mb-4 mb-lg-0">
      <h2>Rent #<%= @rent.id %> details</h2>
      <p>From: <%= @rent.start_date %> </p>
      <p>To: <%= @rent.end_date %> </p>
      <p>Equipment <%= @equipment.first.title %></p>
      <p><%= "#{@equipment.first.description}" %></p>
      <p>Daily rate: <%= @equipment.first.daily_rate %>€</p>
      <%= link_to 'Back', user_rents_path(user_id:current_user) %>
      &nbsp;-&nbsp;
      <%= link_to "Cancel rent ##{@rent.id}",
            user_rent_path(user_id:current_user),
            method: :delete,
            data: { confirm: "Are you sure to cancel this rent?" } %>
    </div>
    <div class="col-md-6 mb-4 mb-lg-0">
      <img src="<% if @equipment.first.image.key? %><%= cl_image_path @equipment.first.image.key, height: 200, crop: :pad
      %><% else 
      %>https://resources.sport-tiedje.com/bilder/firstdegreefitness/neu2/Viking%20PRO%20V/Viking_Pro_V_02_600.jpg<% 
      end %>" style="height: 200px;" alt="" class="img-fluid d-block mx-auto mb-3">
    </div>

    
  </div>
</div>

