
<div class="col-lg-6" style='margin: 0 auto;'>
  <h2 class="login-page-style" style='margin: 40px 0px 40px 0px;'>Log in to you Sport at home account</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs" style='margin: auto;'>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="btn btn-success" style='margin: 0px 0px 40px 0px;'>
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

